.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(180deg, rgba(82,131,137,1) 0%, rgba(119,168,174,1) 100%);
  height: 110rem;
  gap: 10rem;
  padding: 4rem 3rem 0 3rem;
  position: relative;
  z-index: 50;
}

.title {
  position: absolute;
  top: 7%;
  left: 12%;
  text-decoration: underline;
}

.about {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.aboutLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.aboutRight {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.aboutRight p {
  font-size: 1.35rem;
}

.header {
  color: #E59F71;
  letter-spacing: .2rem;
  text-transform: uppercase; 
  font-family: 'EB Garamond', serif;
  font-size: 1.75rem;
}

.headshot {
  max-width: 25rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  font-family: 'EB Garamond', serif;
}

/* .gh {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.gh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .5rem;
  margin-top: 1rem;
}

.ghHeader h2{
  display: flex;
  font-family: 'EB Garamond', serif;
}

.date {
  font-style: italic;
}

.icon {
  max-width: 7rem;
}

.techStack {
  position: relative;
  background-color: rgb(55, 88, 93, .5);
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 5rem;
}

.techStack h1 {
  text-align: center;
}

.tbTop {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.tbBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toolBox {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
    color: white;
}

.progress {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10rem;
  gap: 1rem;
}

.progress p {
  font-size: 1.35rem;
}

@media only screen and (max-width: 40em) {
.container {
  height: 113rem;
  gap: 2rem;
  padding: 1.5rem 2rem 0 2rem;
}
.container p {
  font-size: 1rem;
}
.container h1 {
  font-size: 1.5rem;
}
.header {
  font-size: 1.5rem;
}
.about {
  flex-direction: column;
  gap: 2rem;
}
.headshot {
  max-width: 13rem;
}
.aboutLeft {
  gap: .75rem;
}
.aboutRight {
  padding: 0 .5rem 0 .5rem;
}
.aboutRight h2 {
  font-size: 1rem;
}
.techStack {
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
}
.toolBox {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  color: white;
}
.icon {
  max-width: 2.5rem;
}
.progress {
  align-items: center;
  margin-top: 3rem;
}
.progress p {
  padding-left: 1rem;
}
}

@media screen and (min-device-width: 481px) and (max-device-width: 1000px) and (orientation:portrait) {
  .about {
    flex-direction: column;
    gap: 2rem;
  }
  .container {
    height: 120rem;
    gap: 4rem;
    padding: 1.5rem 2rem 0 2rem;
  }
  .icon {
    max-width: 4rem;
  }
  .toolBox {
    text-align: center;
  }
  .techStack {
    margin: 3rem 0 5rem 0;
  }
}