.container {
  height: 65vh;
  background: #9ECED4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 2rem 4rem 2rem 4rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.icon {
  max-width: 3rem;
}

.icon2 {
  max-width: 2.5rem;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.emailForm form {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 font-size: 1.5rem;
 color: black;
}

.emailForm input, .emailForm textarea {
  margin-bottom: 1rem;
  margin-top: .5rem;
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

.emailForm input {
  font-size: 1.5rem;
  padding-left: .5rem;
  height: 4rem;
  width: 40rem;

}

.emailForm textarea {
  font-size: 1.25rem;
  padding: .5rem;
  height: 16rem;
  width: 40rem;
}

.contactText {
  max-width: 40rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 60;
  position: relative;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.email img {
  max-width: 3rem;
}

/* .bye {
  background-image: url("../../public/images/poppies.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.bye p {
  font-size: 1.25rem;
  font-style: italic;
}

.submit {
  background-color: rgb(242, 232, 120);
}