.container {
  height: 60vh;
  background: #C1292E;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 2rem 4rem 2rem 4rem;
  gap: 4rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.title {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #E59F71;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: 'EB Garamond', serif;
}

.right, .left {
  margin-top: 4rem;
}

.icon {
  max-width: 3rem;
}

.icon2 {
  max-width: 2.5rem;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  margin-left: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 2rem;
}

.emailForm form {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 font-size: 1.75rem;
 color: black;
}

.emailForm label {
  font-family: 'EB Garamond', serif;
}

.emailForm input, .emailForm textarea {
  margin-bottom: 1rem;
  margin-top: .5rem;
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

.emailForm input {
  font-size: 1.5rem;
  padding-left: .5rem;
  max-height: 4rem;
  min-height: 3.5rem;
  width: 40rem;
}

.emailForm textarea {
  font-size: 1.25rem;
  padding: .5rem;
  height: 16rem;
  width: 40rem;
}

.contactText {
  max-width: 40rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  z-index: 60;
  position: relative;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.email img {
  max-width: 3rem;
}

.bye p {
  font-size: 1.25rem;
  font-style: italic;
}

.submit {
  background-color: #528389;
  cursor: pointer;
}

@media only screen and (max-width: 40em) { 
.container {
  height: 60rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contactText h2 {
  font-size: 1rem;
  gap: 0;
}
.contactText {
  gap: 1rem;
}
.left {
  width: 100%;
  margin-left: 0;
  padding: 0 2rem 0 2rem;
  gap: -1rem;
  
}
.right {
  margin-right: 0;
}
.emailForm {
  margin-bottom: 3rem;
}
.emailForm form {
  font-size: 1.25rem;
}
.emailForm input, .emailForm textarea {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
}
.emailForm input {
  font-size: 1rem;
  padding-left: .5rem;
  height: 2rem;
  width: 20rem;
}
.emailForm textarea {
  font-size: .75rem;
  padding: .5rem;
  width: 20rem;
  height: 8rem;
}
.icon {
  width: 2rem;
}
.icon2 {
  width: 1.75rem;
}
.links {
  gap: 1rem;
}
.right, .left {
  margin-top: 1rem;
}
.title {
  margin-top: 4rem;
  margin-bottom: 0;
}
}

@media screen and (min-device-width: 481px) and (max-device-width: 1000px) and (orientation:portrait) {
  .container {
    height: 45rem;
  }
  .contactText h2 {
    font-size: 1.25rem;
    gap: 0;
  }
  .emailForm input {
    font-size: 1.15rem;
    padding-left: .5rem;
    height: 2rem;
    width: 25rem;
  }
  .emailForm textarea {
    font-size: 1rem;
    padding: .5rem;
    width: 25rem;
    height: 8rem;
  }
}