.container {
  height: 100vh;
  background-image: url("../../public/images/starry-sky-v2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.tab {
  background-image: url("../../public/images/empty-tab.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 70rem;
  width: 90rem;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trinaContainer {
  max-width: 33rem;
  margin-top: 1rem;
}

.trina {
  height: 100%;
  width: 100%;
  border: 10px solid;
  border-image-slice: 1;
  --angle: 0deg;
  /* … */
  border-image: linear-gradient(var(--angle), aqua,#3B1B72, #ff17f7) 1;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.banner {
  max-width: 65rem;
}

.hiThere {
  max-width: 20rem;
  position: absolute;
  top: 20%;
  left: 13%;
}

.bottom {
  width: 100%;
  height: 6rem;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7693452380952381) 62%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 0;
}