.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15rem;
  height: 200vh;
  background: #77A8AE;
  position: relative;
}

.top {
  margin-top: 5rem;
}

.header {
  color: rgb(234, 224, 113);
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
  text-align: center;
  margin: 6rem 0 3rem 0;
}

.slideshows {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6rem;
}

.logos, .bf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.logos {
  gap: 17rem;
}

.webDev {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 45rem;
  max-width: 75rem;
}

.projectImg1 {
  max-width: 32rem;
}

.projectImg2 {
  max-width: 33rem;
}

.galleryHouse, .studyBuddies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.galleryHouse {
  margin-top: 12rem;
}

.title {
  position: absolute;
  top: 5%;
  left: 12%;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: white;
  font-family: 'EB Garamond', serif;
}

.slideshowTitle {
  text-align: center;
  margin: 1rem 0 4rem 0;
}

.projectText {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.projectText button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.projectText p {
  font-size: 1.15rem;
}

@media only screen and (max-width: 40em) { 
  .container {
    height: 300vh;
  }
  .container p {
    font-size: 1rem;
  }
  .container h1 {
    font-size: 1.5rem;
  }
  .header {
    font-size: 1.5rem;
  }
  .projectImg1 {
    max-width: 13rem;
  }
  
  .projectImg2 {
    max-width: 15rem;
  }
  .galleryHouse, .studyBuddies {
    flex-direction: column;
  }
}