.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15rem;
  height: 2850px;
  background: #E59F71;
  position: relative;
  padding: 2rem;
}

.top {
  margin-top: 5rem;
}

.header {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #C1292E;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: 'EB Garamond', serif;
  margin: 8rem 0 5rem 4rem;
}

.textHeader {
  display: flex;
  align-items: first baseline;
  gap: .75rem;
}

.textHeader p {
  font-family: 'EB Garamond', serif;
  letter-spacing: .1rem;
  font-size: .9rem;
  font-style: italic;
}

.slideshows {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6rem;
}

.logos, .bf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.logos {
  gap: 17rem;
}

.webDev {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 45rem;
  max-width: 75rem;
}

.projectImg1 {
  max-width: 32rem;
}

.projectImg2 {
  max-width: 33rem;
}

.galleryHouse, .studyBuddies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.galleryHouse {
  margin-top: 12rem;
}

.title {
  position: absolute;
  top: 5%;
  left: 12%;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #C1292E;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: 'EB Garamond', serif;
}

.slideshowTitle {
  font-family: 'EB Garamond', serif;
  font-size: 1.75rem;
  text-align: center;
  margin: 4rem 0 2rem 0;
}

.projectText {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.projectText button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #528389;
}

.projectText p {
  font-size: 1.15rem;
}

.projectText h2 {
  letter-spacing: .2rem;
  font-family: 'EB Garamond', serif;
  font-size: 1.75rem;
}

@media only screen and (max-width: 40em) { 
  .container {
    height: 2900px;
  }
  .container p {
    font-size: 1rem;
  }
  .container h1 {
    font-size: 1.5rem;
  }
  .title {
    position: absolute;
    top: 2%;
    left: 30%;
  }
  .header {
    font-size: 1.5rem;
    margin: 18rem 0 2rem 0rem;
    text-align: center;
  }
  .textHeader {
    flex-direction: column;
    gap: 0;
  }
  .textHeader h2 {
    font-size: 1.5rem;
  }
  .textHeader p {
    font-size: .9rem;
  }
  .projectImg1 {
    max-width: 14rem;
  }
  
  .projectImg2 {
    max-width: 15rem;
  }
  .galleryHouse, .studyBuddies {
    flex-direction: column;
  }
  .projectText {
    padding: 2rem;
  }
  .galleryHouse {
    margin-top: 30rem;
  }
  .slideshows {
    flex-direction: column;
    gap: 5rem;
  }
  .slideshowTitle {
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
  .bf, .logos {
    gap: 0;
  }
  .graphicDesign {
    margin-top: 14rem;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1000px) and (orientation:portrait) {
  .container {
    height: 200rem;
  }
  .title {
    position: absolute;
    top: 3%;
  }
  .header {
    font-size: 2rem;
    margin: 15rem 0 3rem 0rem;
    text-align: center;
  }
  .projectImg1 {
    max-width: 20rem;
  }
  
  .projectImg2 {
    max-width: 21rem;
  }
  .galleryHouse, .studyBuddies {
    flex-direction: column;
  }
  .projectText {
    padding: 2rem;
  }
  .galleryHouse {
    margin-top: 33rem;
  }
  .slideshows {
    flex-direction: column;
    gap: 5rem;
  }
  .slideshowTitle {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
  .bf, .logos {
    gap: 0;
  }
  .graphicDesign {
    margin-top: 14rem;
  }
}